.navbar {
  position: fixed;
  height: 64px;
  background-color: $white;
  left: 0;
  top: 0;
  right: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  z-index: 9999;

  &-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
  }
}

.navbar-item {
  margin: 0.4em;
  width: 100%;
}

.home-link,
.navbar-link {
  color: $text-color;
  transition: color 0.2s ease-in-out;
  text-decoration: none;
  display: flex;
  font-weight: 400;
  align-items: center;
  transition: background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
}

.home-link:focus,
.home-link:hover {
  color: $primary-color;
}

.navbar-link {
  justify-content: center;
  width: 100%;
  padding: 0.4em 0.8em;
  border-radius: 5px;
}

.navbar-link:focus,
.navbar-link:hover {
  color: $primary-color;
  background-color: $white;
}

.navbar-logo {
  background-color: $primary-color;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-right: 0.5em;
}

.navbar-toggle {
  cursor: pointer;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.icon-bar {
  display: block;
  width: 25px;
  height: 4px;
  margin: 2px;
  transition: background-color 0.2s ease-in-out,
    transform 0.2s ease-in-out,
    opacity 0.2s ease-in-out;
  background-color: $text-color;
}

.navbar-toggle:focus .icon-bar,
.navbar-toggle:hover .icon-bar {
  background-color: $primary-color;
}

.navbar.opened .navbar-toggle .icon-bar:first-child,
.navbar.opened .navbar-toggle .icon-bar:last-child {
  position: absolute;
  margin: 0;
  width: 30px;
}

.navbar.opened .navbar-toggle .icon-bar:first-child {
  transform: rotate(45deg);
}

.navbar.opened .navbar-toggle .icon-bar:nth-child(2) {
  opacity: 0;
}

.navbar.opened .navbar-toggle .icon-bar:last-child {
  transform: rotate(-45deg);
}

.navbar-menu {
  position: fixed;
  top: 64px;
  bottom: 0;
  transition: opacity 0.2s ease-in-out,
    visibility 0.2s ease-in-out;
  opacity: 0;
  visibility: hidden;
  left: 0;
  right: 0;
}

.navbar.opened .navbar-menu {
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 1;
  visibility: visible;
}

.navbar-links {
  list-style-type: none;
  max-height: 0;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  background-color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 0;
  right: 0;
  margin: 1.4rem;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.navbar.opened .navbar-links {
  padding: 1em;
  max-height: none;
}

@media screen and (min-width: 700px) {
  .navbar-toggle {
    display: none;
  }

  .navbar .navbar-menu,
  .navbar.opened .navbar-menu {
    visibility: visible;
    opacity: 1;
    position: static;
    display: block;
    height: 100%;
  }

  .navbar .navbar-links,
  .navbar.opened .navbar-links {
    margin: 0;
    padding: 0;
    box-shadow: none;
    position: static;
    flex-direction: row;
    list-style-type: none;
    max-height: max-content;
    width: 100%;
    height: 100%;
  }

  .navbar .navbar-link:last-child {
    margin-right: 0;
  }
}