/* Button style */
.btn {
  font-size: 11px;
  font-family: $primary-font;
  text-transform: uppercase;
  padding: 10px 25px;
  letter-spacing: 2px;
  border-radius: 0;
  border: 1px solid;
  position: relative;
  z-index: 1;
  display: inline-block;
  transition: .2s ease;

  &:hover,
  &:active,
  &.active
  &:focus,
  &.focus {
    outline: 0;
    box-shadow: none !important;
  }
}

.btn-primary {
  background: $primary-color;
  color: $white;
  border-color: $primary-color;

  &:hover,
  &:active,
  &.active
  &:focus,
  &.focus {
    background: $primary-color !important;
    border-color: $primary-color !important;
  }
}

.btn-outline-primary {
  background: transparent;
  color: $text-color;
  border-color: $border-color;

  &:hover,
  &:active,
  &.active
  &:focus,
  &.focus {
    background: $primary-color !important;
    border-color: $primary-color !important;
    color: $white;
  }
}