body {
  background-color: $body-color;
  overflow-x: hidden;
}

::selection {
  background: lighten($color: $primary-color, $amount: 10);
  color: $white;
}

/* preloader */

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $body-color;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  vertical-align: middle;
  border: 0;
  max-width: 100%;
  height: auto;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a,
button,
select {
  cursor: pointer;
  transition: .2s ease;

  &:focus {
    outline: 0;
  }
}

a:hover {
  color: $primary-color;
}

.slick-slide {
  outline: 0;
}

.section {
  padding-top: 100px;
  padding-bottom: 100px;
  &-sm{
    padding-top: 70px;
    padding-bottom: 70px;
  }

  &-title {
    margin-bottom: 30px;
  }
}

.bg-cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.border-default{
  border-color: $border-color !important;
}

.breadcrumb{
  background-color: transparent;
  justify-content: center;
  &-item{
    font-family: $primary-font;
    letter-spacing: 2px;
    font-size: 10px;
    font-weight: 600;
    a{
      color: $primary-color;
    }
  }
}

/* overlay */

.overlay {
  position: relative;

  &::before {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: $black;
    opacity: .5;
  }
}

.bg-primary {
  background: $primary-color !important;
}

.text-primary {
  color: $primary-color !important;
}

.text-default {
  color: $text-color !important;
}