body {
  background-color: $body-color;
  overflow-x: hidden;
}

::selection {
  background: lighten($color: $primary-color, $amount: 10);
  color: $white;
}

/* preloader */


img {
  vertical-align: middle;
  border: 0;
  max-width: 100%;
  height: auto;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a,
button,
select {
  cursor: pointer;
  transition: .2s ease;

  &:focus {
    outline: 0;
  }
}

a:hover {
  color: $primary-color;
}

.slick-slide {
  outline: 0;
}

.section {
  padding-top: 100px;
  padding-bottom: 100px;

  &-sm {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  &-title {
    margin-bottom: 30px;
  }
}


.border-default {
  border-color: $border-color !important;
}

.breadcrumb {
  background-color: transparent;
  justify-content: center;
  display: flex;
  padding-left: 0;

  &-item {
    font-family: $primary-font;
    list-style-type: none;
    letter-spacing: 2px;
    font-size: 10px;
    font-weight: 600;
    position: relative;

    &:not(:last-child) {
      margin-right: 15px;

      &::before {
        position: absolute;
        content: ">";
        right: -10px;
        top: 0;
      }
    }

    a {
      color: $primary-color;
    }
  }
}

.bg-primary {
  background: $primary-color !important;
}

.text-primary {
  color: $primary-color !important;
}

.text-default {
  color: $text-color !important;
}

.list-inline {
  padding-left: 0;

  &-item {
    list-style-type: none;
    display: inline-block;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}

a:not([href]) {
  display: none !important;
}