// Color Variables
$primary-color: #646464;
$text-color: #333;
$text-color-dark: #000;
$text-color-light: #999;
$body-color: #fff;
$border-color: #e2e2e2;
$black: #000;
$white: #fff;
$light: #f1f1f1;

// Font Variables
$primary-font: 'Raleway', sans-serif;
$secondary-font: 'Crimson Text', sans-serif;
$icon-font: 'themify';