{{ "<!-- navigation -->" | safeHTML }}
<header class="navbar">
  <nav class="navbar-container container">
    <a class="navbar-brand" href="{{ site.BaseURL | relLangURL }}">
      {{ if site.Params.logo }}
      <img class="img-fluid" width="{{site.Params.logo_width}}" src="{{ site.Params.logo | absURL}}"
        alt="{{ site.Title }}">
      {{ else }}
      {{site.Title}}
      {{ end }}
    </a>
    <button type="button" class="navbar-toggle" aria-label="Open navigation menu">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div class="navbar-menu">
      <ul class="navbar-links">
        {{ range site.Menus.main }}
        <li class="navbar-item">
          <a class="navbar-link" href="{{if .Pre}}{{site.BaseURL | absLangURL}}{{.Pre}}{{ .URL }}{{else}}{{.URL | absLangURL}}{{end}}">{{ .Name }}</a>
        </li>
        {{ end }}
      </ul>
    </div>
  </nav>
</header>
{{ "<!-- /navigation -->" | safeHTML }}